# This is Git's per-user configuration file.
[user]
	name = Szepietowski.Krzysztof WKZ
	email = WKZ@kmd.dk
[core]
	editor = "'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin"
	# editor = notepad.exe
[diff]
	tool = winmerge
[difftool]
	prompt = false
[difftool "winmerge"]
	cmd = 'C:/Program Files (x86)/WinMerge/WinMergeU.exe' -r -u -e -dl \"Local\" -dr \"Remote\" \"$LOCAL\" \"$REMOTE\"

[merge]
	tool = kdiff3
[mergetool]
	prompt = false
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
	trustExitCode = false
